html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body {
  font-family: "Roboto", sans-serif;
  color: #222;
  background-color: #525659;
  line-height: 1.5;
  font-size: 14px;
}
